DISCORD_TOKEN=
APPLICATION_ID=
GUILD_ID=

KEYHOLDER_ROLE_ID=
KEYMASTER_ROLE_ID=
DOM_ROLE_ID=1447555295306842212
ALPHA_ROLE_ID=1447556082758320178
CAGEDSUB_ROLE_ID=
CAGECHECK_CHANNEL_ID=
LOG_CHANNEL_ID=

# Optional behaviour settings
REQUEST_ALL_SPREAD_MIN=2
MIN_DURATION_MIN=10
MAX_DURATION_MIN=1440
PROOF_LIFETIME_HOURS=24
RECORD_RETENTION_DAYS=60
